<%- include("_sidebar") -%>

<div id="content">

    <%- include("_navbar") -%>
    <ul class="breadcrumb">
        <li><a href="/admin/vehicles">Car</a></li>
        <li><a href="/admin/vehicles">List Car</a></li>
        <li>Update Car Information</li>
    </ul>
    <!-- title -->
    <h2 class="mb-3">Update Car Information</h2>
    <!-- content -->
    <form action="/admin/edit/<%= item.id %>" method="post">
        <div class=" form-group">
            <label for="exampleInputEmail1">Vehicle Name</label>
            <input type="text" class="form-control" name="name" value="<%= item.name %>">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Price</label>
            <input type="number" class="form-control" name="price" value="<%= item.price %>">
        </div>
        <div class="form-group">
            <label>Ukuran</label>
            <select class="form-control" aria-label="Default select example" name="size">
                <option value="Small" selected>Small</option>
                <option value="Medium">Medium</option>
                <option value="Large">Large</option>
            </select>
        </div>
        <p style="color: black;" class="mb-1">Foto</p>
        <div class="custom-file">
            <label class="custom-file-label" for="customFile">Choose file</label>
            <input type="file" class="custom-file-input" id="customFile">
        </div>
        <br><br><br>

        <button type="cancel" class="btn btn-outline-primary mt-2" href="/admin/vehicle">Cancel</button>
        <button type="submit" class="btn btn-primary mt-2" value="add">Save</button>

    </form>
</div>

<%- include("_footer") -%>